body{
    background-image: url("../../Képek/Kávék/fooldal.jpg");
    background-repeat: no-repeat;
    overflow: scroll;
}

nav{
    background-color: #512222;
    padding: 16px;
}

nav a{
    color: white;
    margin: 13px;
}

nav a:hover{
    color: white;
    text-decoration: none;
}

nav a:first-child{
    font-size: 1.5em;
}

nav a:first-child img{
    width: 38px;
    margin-left: 15px;
    margin-right: 0px;
}