@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body{
    background-image: url("../../Képek/Kávék/fooldal.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: scroll;
}

nav{
    background-color: #512222;
    padding: 16px;
}

nav a{
    color: white;
    margin: 13px;
}

nav a:hover{
    color: white;
    text-decoration: none;
}

nav a:first-child{
    font-size: 1.5em;
}

nav a:first-child img{
    width: 38px;
    margin-left: 15px;
    margin-right: 0px;
}

h1{
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: 0.05em;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

#tartalom{
    background: rgba(0, 0, 0, 0.65);
    margin-top: 90px;
}

.footer{
    background-color: #512222;
    color: white;
}
footer li{
    list-style-type: none;
}

button{
    background: #7A5757;
    border-radius: 4px;
    stroke: #7A5757;
    color: #FFFFFF;
    border: none;
    width: 10rem;
}