@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body{
    background-color: #F1DCBD;
}

nav img{
    width: 30px;
}

nav{
    background-color: #512222;
}

#brandnev{
    font-size: 1.5em;
}

.banner{
    background-image: url(../../Képek/Kávék/banner3.jpg);
    background-position: center center;
    background-position-y: -30rem;
    background-size: cover;
    width: 100%;
    height: 470px;
}


#blog1, #blog3 {
    /*padding-left: 10px;*/
    margin-left: 2vh;
    position: absolute;
    display: flex;
    width: 30vw;
    height: 30vh;
    z-index:-1;
}

#blog2 {
    width: 30vw;
    height: 30vh;
    margin-left: 95vh;
    position: absolute;
    display: flex;
    z-index:-1;
}

#szoveg1, #szoveg2, #szoveg10 {
    margin-left: 400px;
    margin-right: 100px;
}

#szoveg3, #szoveg4 {
    margin-left: 100px;
    margin-right: 100px;
}

#szoveg5, #szoveg6 {
    margin-right: 400px;
    margin-left: 100px
}

#szoveg7, #szoveg8, #szoveg9 {
    margin-left: 100px;
    margin-right: 100px;
}

p {
    font-size: 2vw;
}

h1{
    font-family: 'Fredericka the Great', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #512222;
    width: 100%;
}

.footer{
    background-color: #512222;
    color: white;
    bottom: 0;
    margin-top: 15%;
    width: 100%;
}

.row {
    margin-bottom: 0px;
}

footer li{
    list-style-type: none;
}

#feliratkozas{
    background: #7A5757;
    border-radius: 4px;
    stroke: #7A5757;
    color: #FFFFFF;
    border: none;
    width: 10rem;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #a04646;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(3, 3, 3);
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(122, 32, 32);
  }


  #feliratkozo{
    background: #7A5757;
    border-radius: 4px;
    stroke: #7A5757;
    color: #FFFFFF;
    border: none;
    width: 10rem;
}

#feliratkozaskep{
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    border-radius: 3px;
}

#feliratkozasLabel{
    color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
    margin-right: auto ;
}

#Modalgomb{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    background: #7A5757;
    border-radius: 4px;
    stroke: #7A5757;
    color: #FFFFFF;
    border: none;
    width: 10rem;
    margin-left: auto;
    margin-right: auto ;
}

#modalbg{
    background-color: #F1DCBD;
}

#input{
    display: flex;
    padding: 5px;
    border-radius: 4px 4px 4px 4px;
    border-color: #512222;
    margin-bottom: 7px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#label-feliratkozas{
    color: #512222;
    margin-left: 122px;
}